* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #03028d;
    width: 100vw;
    height: 100vh;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-item {
    position: relative;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100px;
    border-radius: 100px;
    overflow: hidden;
    filter: grayscale(80%);
    transition: .5s;
}

.card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-item span {
    position: absolute;
    bottom: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #030d28;
    transition: .5s;
}

.card-item span:hover {
    cursor: pointer;
    background: #030d28;
    color: #fff;
}

.card-item i {
    font-size: 30px;
}

.open {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px #44ddff, 0 0 50px #44ddff;
    filter: grayscale(0);
}